.wrapper {
    width: 100%;
}

#calendar-container {
    width: 49%;
    min-height: 200px;
    display: inline-block;
    vertical-align: top;
}

#note {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding-left: 1%;
}


@media screen and (max-width: 400px) {
    #calendar-container {
        width: 98%;
    }

    #note {
        width: 98%;
        padding-left: 0px;
        padding-top: 10px;
    }
}

.cls-confirmed {
    background-color: #22b17a !important;
    color: white;
}

.cls-option {
    background-color: #2271b1 !important;
    color: white;
}

.cls-disabled {
    background-color: rgb(158, 158, 158) !important;
    color: white;
}

.cls-undefined {
    background-color: rgb(0, 81, 255) !important;
    color: white;
}

.cls-note-cal {
    color: #ffffff;
    font-size: 1.0em;
    background: rgba(0, 153, 153, .4);
    border-radius: 3px;
    padding: 1px 2px;
    text-align: center;
    margin: initial;
    cursor: pointer;
    box-sizing: border-box;
}

.info-box {
    border: 1pt solid rgb(202, 202, 202);
    /*border-radius: 5px;*/
}

.table-info {
    border-collapse: collapse;
    width: 100%;
}

.tr-new-sub-sub-section {
    border-top: 1pt dotted rgb(202, 202, 202);
    vertical-align: top;
}

.tr-new-sub-section {
    border-top: 1pt solid rgb(202, 202, 202);
    vertical-align: top;
}

.tr-new-section {
    border-top: 1em solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(201, 201, 201);
    background-color: rgb(226, 226, 226);
    vertical-align: top;
}

tr.tr-new-section>td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.tr-new-section>td>strong {
    margin-left: 5%;
}

.cls-input {
    margin: 2px !important;
}